#root {
    background-color: #000;
}

:root {
    background-color: #000;
}

.App {
    margin: 0 auto;
    margin-top: 50px;
}

.second-section {
    padding-left: 35px;
    padding-right: 35px;
}

.slick-slide > div {
    /* margin: 0 2px; */
}
.slick-list {
    margin: 0 -10px;
}

div.card {
    border: 1px solid #000;
    border-radius: 6px;
    overflow: hidden;
    margin: 10px;
}

div.card-top h1 {
    font-size: 1rem;
}

div.card-top > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title-category {
    color: white;
}
