#root {
    background-color: #000;
}

:root {
    background-color: #000;
}

.App {
    margin: 0 auto;
    margin-top: 50px;
}

.second-section {
    padding-left: 35px;
    padding-right: 35px;
}

.slick-slide > div {
    margin: 0 2px;
}

.slick-list {
    margin: 0 -10px;
}

div.card {
    border: 1px solid #000;
    border-radius: 6px;
    overflow: hidden;
    margin: 10px;
}

div.card-top h1 {
    font-size: 1rem;
}

div.card-top > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title-category {
    color: white;
}

.hero {
    background-image: url("./assets/capa1.jpeg");
    background-size: cover;
    background-position: center top;
    border-radius: 0;
    height: 600px;
}

.size-card {
    width: auto;
    height: auto;
    background-color: #000;
}

.btn-more {
    background-color: rgba(109, 109, 110, 0.7) !important;
    color: white !important;
}
.btn-primary {
    border-color: white !important;
}

.objectx {
    width: 100% !important;
    height: auto !important;
}
